@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #101317;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
/* tooltip part */
.tooltip-main {
  position: relative;
  cursor: pointer;
}
.tooltip-main .tooltiptext {
  /* visibility: hidden; */
  padding: 12px 6px;
  width: 200px;
  background-color: #333b44;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: -336%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-main .tooltiptext::after {
  content: '';
  position: absolute;
  top: -12%;
  left: 42%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #333b44 transparent;
}

.tooltip-main:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
